* {
    /* font-family: 'Nunito', sans-serif; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

.layout {
    height: 100vh;
    outline: 4px solid #ffc7d4;
}

body {
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-image: linear-gradient(to right, #e2c2fe, #f6aedc);
}

.navbar-brand img {
    width: 70px;
    zoom: 130%;
}

.navbar-brand {
    margin-right: 0;
    padding: 0 1em;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #000080;
    font-size: 1.1em;
    padding: .5em 1em;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link:hover {
    color: crimson;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: red;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* When navigation is clicked */

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/* State when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

/* Color of 3 lines */

.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient(263deg, rgb(226, 13, 241) 0%, rgb(255, 0, 132) 100%);
}

.content {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 70px 2fr;
    grid-template-columns: 350px 2fr;

}

.content .title {
    background-color: #02aeb1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.content .title h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
   color: #fff;
   margin-bottom: 3rem;
   font-family: 'Allura', cursive;
   font-weight: bold;
   text-align: center;
}

.content .sidebar {
    background-color: #e2c2fe;
}

.content .sidebar select {
    margin: 20px 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0.);
    padding: 1em 1.3em;
    color: #fff;
    background-color: #000;
    font-size: 15px;
    border: 0;
    width: 300px;
    text-align: center;
    cursor: pointer;
}

.content .sidebar .component h4 {
    text-align: center;
    text-decoration: underline;
}

.content .sidebar .component .room-com h5 {
    text-align: center;
    margin-top: 30px;
}

.content .sidebar .component .room-com .sofaimg {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 20px;
}

.content .sidebar .component .room-com .sofaimg img {
    margin-left: 30px;
}

.content .main {
    background-color: #fff;
}

.content .main .main-img {
    margin-top: 60px;
    margin-left: 150px;

}

.content .main .color-btn {
    margin-left: 330px;
    margin-top: 20px;
}

.content .main .color-btn .btn1 {
    background-color: #d98cb3;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
}

.content .main .color-btn .btn2 {
    background-color: #70dbdb;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    margin-left: 10px;
}

.content .main .color-btn .btn3 {
    background-color: #77dd77;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid black;
    margin-left: 10px;
}

